<!DOCTYPE html>

<html lang = "en">
<head>
	<meta charset = "UTF-8">

	<link rel = "stylesheet" href = "login.css">
	<link rel = "stylesheet" href = "general.css">
</head>

<body data-page = "login">
	<form id = "loginForm">
		<h1 id = "loginFormTitle"> </h1>
  		<input id = "loginFormUsername" text = "">
  		<input id = "loginFormPassword" type = "password">
  		<button id = "loginFormSubmit"> </button>
	</form>

	<script src = "/templates/login.js"> </script>
	<script src = "/templates/i18n.js"> </script>
</body>
</html>
